/* Styling for All */
#header {
    margin-bottom: 50px;
}
.container-fluid{
    margin:0;
}

/* Styling for Main */
#main-main{
    background-color:#f1f2f6;
}

main{ 
    min-height: 300px;
    width: 80%;
    background-color: antiquewhite;
    margin:0px auto;
    padding:5px;
}

.main-content{
    flex-wrap: nowrap;
}



#footer-footer{
    background-color: #B9371D;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* padding : 1%; */
}

.form-login {
    padding: 0 300px;
}

